body {
  font-family: 'Poppins', sans-serif;
  /* Subtle gradient background */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-blend-mode: multiply;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.card-container {
  perspective: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  width: 100%;
  height: 260px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: #2c3e50;
  font-weight: 100;
  /* Add gradient background */
  background: linear-gradient(135deg, #FFFFFF 0%, #f0f2f5 100%);
  /* Add subtle box shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card:hover {
  /* Add a slightly darker box shadow on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* Add a subtle scaling effect on hover */
  transform: scale(1.05);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.note-text {
  font-size: 48px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.btn {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  color: white;
}

.btn-success {
  background-color: #2ecc71;
}

.btn-danger {
  background-color: #e74c3c;
}

.btn:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn-success:hover {
  background-color: #27ae60;
}

.btn-danger:hover {
  background-color: #c0392b;
}

.message-top {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  display: none;
  width: fit-content;
  text-align: center;
}

#resultImage {
  max-width: 100%;
  height: auto;
  display: none;
  margin-top: 20px;
  border-radius: 10px;
}

.btn-try-again {
  background-color: #3498db;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  border-radius: 50%; /* Change the border-radius value */
  font-size: 18px;
  width: 80px; /* Add width and height to make a perfect circle */
  height: 80px;
  line-height: 80px; /* Set line-height equal to height to center the text vertically */
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.btn-try-again:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: #2980b9;
}

.hide-card {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
}
.language-dropdown .btn {
  font-size: 24px;
  /* Add any other styles to match the music note button */
}

.btn-language {
  background-color: #17a2b8;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.app-logo-link {
  position: fixed;
  top: 10px; /* adjust the position as needed */
  left: 10px; /* adjust the position as needed */
  z-index: 100;
}

.app-logo {
  width: 200px; 
  height: auto;
}

#appTitle {
  font-family: 'Lobster', cursive;
  font-size: 20px; /* Change the font size to a smaller value */
}

.title-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-logo {
  width: 100%;
  max-width: 550px;
  height: auto;
}

.note-color-C {
  color: #1a237e; /* Darkest (Blue) */
}

.note-color-D {
  color: #0d47a1; /* Dark Blue */
}

.note-color-E {
  color: #2196f3; /* Light Blue */
}

.note-color-F {
  color: #4caf50; /* Green */
}

.note-color-G {
  color: #ffeb3b; /* Yellow */
}

.note-color-A {
  color: #f57c00; /* Orange */
}

.note-color-B {
  color: #e65100; /* Lightest (Red) */
}

.language-dropdown .dropdown-item img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

@media (max-width: 767px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container {
    width: 100%;
  }
  #appTitle {
    font-size: 10px;
  }

  .card {
    width: 80%; /* Reduce card width */
    margin-left: auto; /* Center card horizontally */
    margin-right: auto; /* Center card horizontally */
    height: 150px;
  }
  .btn {
    width: 48px;
    height: 48px;
    font-size: 18px;
  }
  .btn-language {
    font-size: 18px;
  }
}
