body {
    font-family: Arial, sans-serif;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.note-animation {
  animation: fadeInOut 2s ease-in-out;
  font-size: 8em; /* Updated font size to be twice as big */
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message {
  font-size: 1.5em;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.message-animation {
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Add this new style rule */
.btn-danger {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}

.btn-danger:hover {
  background-color: darkred;
}

.btn-custom {
  width: 200px;
  height: 50px;
}
