body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-blend-mode: multiply;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.card-container {
  perspective: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  width: 100%;
  height: 260px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: #2c3e50;
  font-weight: 100;
  background: linear-gradient(135deg, #FFFFFF 0%, #f0f2f5 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.note-text {
  font-size: 48px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.btn {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  color: white;
}

.btn-success {
  background-color: #2ecc71;
}

.btn-danger {
  background-color: #e74c3c;
}

.btn:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn-success:hover {
  background-color: #27ae60;
}

.btn-danger:hover {
  background-color: #c0392b;
}

.message-top {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  display: none;
  width: fit-content;
  text-align: center;
}

#resultImage {
  max-width: 100%;
  height: auto;
  display: none;
  margin-top: 20px;
  border-radius: 10px;
}

.btn-try-again {
  background-color: #3498db;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.btn-try-again:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: #2980b9;
}

.app-logo-link {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.app-logo {
  width: 200px;
  height: auto;
}

.title-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-logo {
  width: 550px;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.language-dropdown .btn {
  font-size: 24px;
}

.btn-language {
  background-color: #17a2b8;
}

.language-dropdown .dropdown-item img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .title-logo-container {
    flex-direction: column;
  }

  .title-logo {
    width: 80%;
    margin-top: 15px;
  }

  .btn-try-again {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 16px;
  }

  .app-logo {
    width: 150px;
  }

  .button-container {
    flex-wrap: wrap;
  }

  .card {
    height: auto;
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  .btn-try-again {
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
  }

  .app-logo {
    width: 120px;
  }

  .card {
    height: auto;
    font-size: 16px;
    padding: 15px;
  }
}
