{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">URL Configuration</h1>
    <form method="post">
      <div class="form-group">
        <label for="url">URL:</label>
        <input type="url" class="form-control" id="url" name="url" required>
      </div>
      <button type="submit" class="btn btn-primary" name="action" value="add">Add URL</button>
    </form>
    <h2 class="h4 mt-4 text-gray-800">Nombre Maximum d'url: {{ config.url_limit }}</h2>
    <ul class="list-group">
      {% for url in config.urls %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ url }}
          <form method="post" class="mb-0">
            <input type="hidden" name="url" value="{{ url }}">
            <button type="submit" class="btn btn-danger btn-sm" name="action" value="delete">
              <i class="fas fa-times"></i>
            </button>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

